.relative-helper {
  position: relative;
}
.text-center {
  text-align: center;
}
.no-space-helper {
  margin: 0px;
  padding: 0px;
}
#page-container #find-input {
  font-size: 300%;
  height: 300%;
  font-weight: 100;
}
#user-status ul li a i {
  margin-right: 4px;
}
.app-logo {
  background: url('../img/spinel-logo.png');
  height: 50px;
  width: 150px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.app-logo span {
  color: #1FB2F9;
  font-size: 150%;
  margin-left: 30px;
}
#query-input {
  padding: 5px 27px 6px 12px;
  width: 300px;
}
.profile-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.profile-name {
  padding-left: 18px;
}
.navbar {
  margin-bottom: 0px;
  z-index: 99;
}
.navbar-form input {
  border-radius: 22px;
  background: #eeeeee;
}
.nav-search {
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  right: 22px;
  top: 10px;
  font-size: 120%;
}
#suggestion-results {
  position: absolute;
  top: 54px;
  z-index: 20;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.left-line {
  border-left: solid 3px #dddddd;
}
.right-line {
  border-right: solid 3px #dddddd;
  margin: -3px;
}
.search-card-left,
.search-card-right {
  background: white;
  margin-bottom: 30px;
  border-bottom: 3px solid #dddddd;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.search-card-left:after,
.search-card-left:before {
  left: 100%;
  top: 35px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.search-card-left:after {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.search-card-left .search-card-image {
  width: 100%;
}
.search-card-left .search-card-info {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  color: #222;
  opacity: 0.0;
  background: #ffffff;
  top: 0px;
  font-size: 125%;
  padding: 20px;
  font-weight: 100;
}
.search-card-left .search-card-info button i {
  margin: 0px 5px 0px 0px;
}
.search-card-left .search-card-title {
  position: absolute;
  bottom: 35px;
  left: 0;
  font-size: 150%;
  padding: 0px 20px;
  background: #313131;
  right: 40px;
  opacity: 0.8;
}
.search-card-left .search-card-title h4 {
  font-size: 150%;
  color: white;
  font-weight: 100;
}
.search-card-left .search-card-title h5 {
  padding: 3px;
  font-size: 75%;
  color: #999999;
  text-align: right;
}
.search-card-left:hover .search-card-info {
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.search-card-left .search-card-info .search-card-action button {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.search-card-left .search-card-social {
  height: 60px;
  font-size: 135%;
  padding: 4px;
}
.search-card-right {
  padding: 10px 20px;
}
.search-card-right .search-card-mentor {
  padding-left: 45px;
  margin-right: 10px;
}
.search-card-right .search-card-mentor img {
  display: block;
  position: absolute;
  left: 0;
}
.search-card-right .search-card-mentor strong {
  font-size: 120%;
}
.search-card-right .search-card-mentor i {
  color: #dddddd;
}
.search-card-right .search-card-mentor .avatar {
  width: 40px;
  height: 40px;
}
.search-card-right .search-card-solution {
  margin: 10px 0px;
}
.search-card-right .search-card-solution .solution-info {
  position: absolute;
  left: 55px;
  bottom: -5px;
}
.search-card-right .search-card-solution .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 15px;
  height: 15px;
  width: 60px;
  position: relative;
}
.star-ratings::before {
  content: '★★★★';
  opacity: .3;
}
[title="1"]::after {
  width: 0%;
}
[title="2"]::after {
  width: 12.5%;
}
[title="3"]::after {
  width: 25%;
}
[title="4"]::after {
  width: 37.5%;
}
[title="5"]::after {
  width: 50%;
}
[title="6"]::after {
  width: 62.5%;
}
[title="7"]::after {
  width: 75%;
}
[title="8"]::after {
  width: 87.5%;
}
.star-ratings::after {
  color: gold;
  content: '★★★★';
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  width: attr(rating);
  overflow: hidden;
}
.query-suggestions {
  margin: 5px 0px;
  padding-top: 5px;
}
.query-suggestions h5 {
  margin: 0px;
  text-align: right;
  color: #1f8dd6;
  font-size: 125%;
  font-weight: bold;
}
.query-suggestions li {
  margin-bottom: 5px;
}
.query-suggestions .title {
  color: #1f8dd6;
  font-size: 150%;
}
.query-suggestions .sponsor {
  color: #dddddd;
}
.query-suggestions .description {
  color: #999999;
}
.query-suggestions img {
  float: left;
  margin-right: 10px;
}
#overcanvas-container {
  background: black;
  height: 0px;
  width: 100%;
  bottom: 500px;
  position: relative;
}
#overcanvas-container.active {
  bottom: 0px;
  height: 500px;
}
#overcanvas-container {
  color: #dddddd;
}
#overcanvas-container h1,
#overcanvas-container h2,
#overcanvas-container h3,
#overcanvas-container h4 {
  color: white;
  font-weight: bold;
}
#overcanvas-container ul,
#overcanvas-container ol {
  padding: 0px;
}
#overcanvas-container ul li,
#overcanvas-container ol li {
  margin-top: 5px;
}
#overcanvas-container .topic-info {
  margin-top: 30px;
}
#overcanvas-container .top-right-control {
  position: absolute;
  top: 10px;
  right: 10px;
}
#overcanvas-container .top-right-control i {
  font-size: 150%;
  color: grey;
}
#creativity-graph {
  margin: 0px;
}
.tag {
  margin: 0px 2px;
}
.big-profile-card h3,
.big-monters-card h3,
.big-profile-card h4,
.big-monters-card h4,
.big-profile-card div,
.big-monters-card div {
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.project-cover-image {
  position: absolute;
  width: 100%;
  height: 400px;
  background: #999999;
  left: 0px;
  margin-top: -20px;
  z-index: -1;
}
body {
  background-image: url('../img/background.png');
}
.splash-container {
  padding: 0px;
  margin-top: -20px;
  position: relative;
}
.splash-container .splash {
  position: absolute;
  background: #1FB2F9;
  top: 25px;
  right: 0px;
  padding: 5px 35px;
}
.splash-container .splash h1 {
  font-size: 300%;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
}
.splash-container .splash h2 {
  color: white;
  font-weight: 200;
  font-size: 150%;
}
.splash-container .splash a {
  background: white;
  color: #1FB2F9;
  padding: 10px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.market-content {
  padding: 0px 25px 40px 25px;
  background: white;
  position: fixed;
  bottom: 00px;
}
.market-content .content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  font-size: 180%;
}
.market-content .content-subhead {
  color: #1f8dd6;
  font-size: 150%;
  height: 80px;
}
.market-content p {
  color: #7f8c8d;
  font-size: 125%;
}
#page-container {
  margin-top: 20px;
}
.container {
  width: 940px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-right-helper {
  position: absolute;
  right: 5px;
  top: 5px;
}
hr.fancy-line {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0;
  /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
hr.fancy-line:after {
  content: '';
  height: 0.5em;
  /* half the height of :before */
  top: 1px;
  /* height of hr*/
}
hr.fancy-line:before,
hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}
hr.fancy-line,
hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(75%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}
hr.fancy-line:after {
  background: white;
}
.cp a {
  color: #999999;
}
.cp a .cp-number {
  color: black;
}
