.project-review .glyphicon {
  margin-right: 5px;
}
.project-review .rating .glyphicon {
  font-size: 22px;
}
.project-review .rating-num {
  margin-top: 0px;
  font-size: 54px;
}
.project-review .progress {
  margin-bottom: 5px;
}
.project-review .progress-bar {
  text-align: left;
}
.project-review .rating-desc .col-md-3 {
  padding-right: 0px;
}
.project-review .sr-only {
  margin-left: 5px;
  overflow: visible;
  clip: auto;
}
