.rbn {
  -webkit-box-shadow: 0px 0px 8px #000000;
  -moz-box-shadow: 0px 0px 8px #000000;
  box-shadow: 0px 0px 8px #000000;
  overflow: hidden;
  padding: 3px 0;
  position: absolute;
  position: relative;
  text-align: center;
  width: 214px;
  z-index: 999;
}
.rbn span,
.rbn a {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  border-top: 1px dashed rgba(255, 255, 255, 0.6);
  color: #ffffff;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.rbn.rbn-fixed {
  position: fixed;
}
.rbn.rbn-top-left {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -47px;
  top: 37px;
}
.rbn.rbn-top-right {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -47px;
  top: 37px;
}
.rbn.rbn-bottom-right {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 37px;
  right: -47px;
}
.rbn.rbn-bottom-left {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 37px;
  left: -47px;
}
.rbn.rbn-blue {
  background: #0064cd;
  background: -moz-linear-gradient(top, #007afb 0%, #0064cd 20%, #0064cd 80%, #007afb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007afb), color-stop(20%, #0064cd), color-stop(80%, #0064cd), color-stop(100%, #007afb));
  background: -webkit-linear-gradient(top, #007afb 0%, #0064cd 20%, #0064cd 80%, #007afb 100%);
  background: -o-linear-gradient(top, #007afb 0%, #0064cd 20%, #0064cd 80%, #007afb 100%);
  background: -ms-linear-gradient(top, #007afb 0%, #0064cd 20%, #0064cd 80%, #007afb 100%);
  background: linear-gradient(top bottom, #007afb 0%, #0064cd 20%, #0064cd 80%, #007afb 100%);
}
.rbn.rbn-green {
  background: #6a9417;
  background: -moz-linear-gradient(top, #86bc1d 0%, #6a9417 20%, #6a9417 80%, #86bc1d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86bc1d), color-stop(20%, #6a9417), color-stop(80%, #6a9417), color-stop(100%, #86bc1d));
  background: -webkit-linear-gradient(top, #86bc1d 0%, #6a9417 20%, #6a9417 80%, #86bc1d 100%);
  background: -o-linear-gradient(top, #86bc1d 0%, #6a9417 20%, #6a9417 80%, #86bc1d 100%);
  background: -ms-linear-gradient(top, #86bc1d 0%, #6a9417 20%, #6a9417 80%, #86bc1d 100%);
  background: linear-gradient(top bottom, #86bc1d 0%, #6a9417 20%, #6a9417 80%, #86bc1d 100%);
}
.rbn.rbn-red {
  background: #9d261d;
  background: -moz-linear-gradient(top, #c42f24 0%, #9d261d 20%, #9d261d 80%, #c42f24 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c42f24), color-stop(20%, #9d261d), color-stop(80%, #9d261d), color-stop(100%, #c42f24));
  background: -webkit-linear-gradient(top, #c42f24 0%, #9d261d 20%, #9d261d 80%, #c42f24 100%);
  background: -o-linear-gradient(top, #c42f24 0%, #9d261d 20%, #9d261d 80%, #c42f24 100%);
  background: -ms-linear-gradient(top, #c42f24 0%, #9d261d 20%, #9d261d 80%, #c42f24 100%);
  background: linear-gradient(top bottom, #c42f24 0%, #9d261d 20%, #9d261d 80%, #c42f24 100%);
}
.rbn.rbn-orange {
  background: #da8815;
  background: -moz-linear-gradient(top, #eb9e32 0%, #da8815 20%, #da8815 80%, #eb9e32 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb9e32), color-stop(20%, #da8815), color-stop(80%, #da8815), color-stop(100%, #eb9e32));
  background: -webkit-linear-gradient(top, #eb9e32 0%, #da8815 20%, #da8815 80%, #eb9e32 100%);
  background: -o-linear-gradient(top, #eb9e32 0%, #da8815 20%, #da8815 80%, #eb9e32 100%);
  background: -ms-linear-gradient(top, #eb9e32 0%, #da8815 20%, #da8815 80%, #eb9e32 100%);
  background: linear-gradient(top bottom, #eb9e32 0%, #da8815 20%, #da8815 80%, #eb9e32 100%);
}
.rbn.rbn-pink {
  background: #c3325f;
  background: -moz-linear-gradient(top, #d25179 0%, #c3325f 20%, #c3325f 80%, #d25179 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d25179), color-stop(20%, #c3325f), color-stop(80%, #c3325f), color-stop(100%, #d25179));
  background: -webkit-linear-gradient(top, #d25179 0%, #c3325f 20%, #c3325f 80%, #d25179 100%);
  background: -o-linear-gradient(top, #d25179 0%, #c3325f 20%, #c3325f 80%, #d25179 100%);
  background: -ms-linear-gradient(top, #d25179 0%, #c3325f 20%, #c3325f 80%, #d25179 100%);
  background: linear-gradient(top bottom, #d25179 0%, #c3325f 20%, #c3325f 80%, #d25179 100%);
}
.rbn.rbn-purple {
  background: #7a43b6;
  background: -moz-linear-gradient(top, #9162c5 0%, #7a43b6 20%, #7a43b6 80%, #9162c5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9162c5), color-stop(20%, #7a43b6), color-stop(80%, #7a43b6), color-stop(100%, #9162c5));
  background: -webkit-linear-gradient(top, #9162c5 0%, #7a43b6 20%, #7a43b6 80%, #9162c5 100%);
  background: -o-linear-gradient(top, #9162c5 0%, #7a43b6 20%, #7a43b6 80%, #9162c5 100%);
  background: -ms-linear-gradient(top, #9162c5 0%, #7a43b6 20%, #7a43b6 80%, #9162c5 100%);
  background: linear-gradient(top bottom, #9162c5 0%, #7a43b6 20%, #7a43b6 80%, #9162c5 100%);
}
.rbn.rbn-black {
  background: #2b2b2b;
  background: -moz-linear-gradient(top, #424242 0%, #2b2b2b 20%, #2b2b2b 80%, #424242 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(20%, #2b2b2b), color-stop(80%, #2b2b2b), color-stop(100%, #424242));
  background: -webkit-linear-gradient(top, #424242 0%, #2b2b2b 20%, #2b2b2b 80%, #424242 100%);
  background: -o-linear-gradient(top, #424242 0%, #2b2b2b 20%, #2b2b2b 80%, #424242 100%);
  background: -ms-linear-gradient(top, #424242 0%, #2b2b2b 20%, #2b2b2b 80%, #424242 100%);
  background: linear-gradient(top bottom, #424242 0%, #2b2b2b 20%, #2b2b2b 80%, #424242 100%);
}
