@import "variables";
@import "mixins";
@import "helpers";
@import "elements";
@import "layout";
@import "header";
@import "search-results";
@import "query-suggestions";
@import "dashboard";
@import "project";


body {
  background-image: url('../img/background.png');
}

.splash-container {
  padding: 0px;
  margin-top: -20px;
  position: relative;
  .splash{
    position: absolute;
    background: #1FB2F9;
    top: 25px;
    right: 0px;
    padding: 5px 35px;
    h1{
      font-size: 300%;
      color: white;
      text-transform: uppercase;
      font-weight: 100;
    }
    h2{
      color: white;
      font-weight: 200;
      font-size: 150%;
    }
    a{
      background: white;
      color: #1FB2F9;
      padding: 10px;
      position: absolute;
      right: 15px;
      bottom: 15px;
      text-transform: uppercase;
      font-weight: bold;
    }

  }
}
.market-content {
  padding: 0px 25px 40px 25px;
  background: white;
  position: fixed;
  bottom: 00px;
  .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    font-size: 180%;
  }
  .content-subhead{
    color: #1f8dd6;
    font-size: 150%;
    height: 80px;
  }
  p{
      color: #7f8c8d;
      font-size: 125%;
  }
}
#page-container {
  margin-top: 20px;
}

.container {
   width: 940px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.top-right-helper {
	position: absolute;
	right: 5px;
    top: 5px;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: white;
}

.cp a {
   color: @dark;
}
.cp a .cp-number {
    color: black;
}



