<header role="banner" class="navbar navbar-inverse bs-docs-nav">
	<form class="navbar-form navbar-left" role="search">
		<div id="small-find-input-container" class="form-group">
			
		</div>
	</form>
</header> <!-- /header -->

<div class="container" data-role="content">
	<input id="find-input" type="text" class="form-control big-find" placeholder="what do you want to learn?">
	</input>
	<div id="find-results" class="container-liquid">
    </div>
</div>

<footer class="footer navbar navbar-fixed-bottom" data-role="footer">
</footer><!-- /footer -->