<div class="container" data-role="content">
  <div class="row">
    <div class="col-md-6 col-xs-12" >
      Daily pick projects
    </div>
    <div class="col-md-6 col-xs-12">
      <form class="form center-block">
        <div class="form-group">
          <input type="text" class="form-control input-lg" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <div class="checker"><span><input type="checkbox"></span></div> Remember me
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block" id="btn-signin">Sign In</button>
          <span class="pull-right"><a id="btn-signup">Register</a></span><span><a href="#">Forgot your password?</a></span>
        </div>
      </form>
      <hr/>
      <div class="login-social-link centered">
        <p>or you can sign in via your social network</p>
        <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
        <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
      </div>
      <div class="registration">
        Don't have an account yet?<br>
        <a class="" href="#register">
        Create an account
        </a>
      </div>
    </div>
  </div>
  
</div>