<div class="container" data-role="content">
<form id="form-login" role="form">
        <div class="form-group">
          <label for="username">User name</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button id="btn-signin" type="button" class="btn btn-default">Signin</button>
        <button id="btn-signup" type="button" class="btn btn-primary">Signup</button>
</form>
</div>
