<div class="alert alert-info">
	<button class="close" data-dismiss="alert" type=
	"button">×</button> <strong>Confirmation:</strong>
	A confirmation email has been sent to your
	email.<br>
	Thank you for your registration.
</div>