 <header data-role="header" class="navbar nav navbar-inner">
      <h1>Backbone-Require-Boilerplate (BRB)</h1>
    </header> <!-- /header -->

    <div class="container-fluid" data-role="content">
  
      <div class="row-fluid">
      
        <div class="span12">

          <div class="example">
               <p>HOMER TEST</p>
          </div>
      
        </div>

      </div>

    </div>

    <footer class="footer navbar navbar-fixed-bottom" data-role="footer">
    </footer><!-- /footer -->
